@use "mixin" as *;
/*
テキスト色：c-
背景色：bg-
線色：bg-
rgb|略で考える？
	r:red
	g:green
	b:blue
	grd:グラデーション
main
sub

ボタン色 > ボタン背景色＋テキスト色｜ボーダ色＋テキスト色：反転色（hover時）
線 > 背景色＋線色
*/
$header-bar: #100f0d;
$c-bg: #f5f1e9;
$c-txt: #100f0d;
$c-main: #d9cdb5;
$c-border: #ededed;

:root {
	--main: #d9cdb5;
	--sub: #f9d902;
	--text: #952141;

	--link: #106fc8;

	//-- タグに関して
	--required: #ef6363; // 必須
	--any: #106fc8; // 任意
}
@include color(main);

// グラデーション
.bg-grd1 {
	background: transparent linear-gradient(323deg, #ffffff 0%, #fbf7f8 38%, #ddb8c2 100%) 0% 0% no-repeat padding-box;
}
