@keyframes change-img-01 {
	0% {
		opacity: 1;
	}
	6% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	94% {
		opacity: 0;
	}
	98% {
		opacity: 1;
	}
}
@keyframes change-img-02 {
	0% {
		opacity: 1;
	}
	16% {
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-03 {
	0% {
		opacity: 1;
	}
	26% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-04 {
	0% {
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-05 {
	0% {
		opacity: 1;
	}
	46% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-06 {
	0% {
		opacity: 1;
	}
	56% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-07 {
	0% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-08 {
	0% {
		opacity: 1;
	}
	76% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-09 {
	0% {
		opacity: 1;
	}
	86% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes change-img-10 {
	0% {
		opacity: 1;
	}
	96% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.left-bg-01 {
	animation: change-img-01 40s infinite;
}
.left-bg-02 {
	animation: change-img-02 40s 0s infinite;
}
.left-bg-03 {
	animation: change-img-03 40s 0s infinite;
}
.left-bg-04 {
	animation: change-img-04 40s 0s infinite;
}
.left-bg-05 {
	animation: change-img-05 40s 0s infinite;
}
.left-bg-06 {
	animation: change-img-06 40s 0s infinite;
}
.left-bg-07 {
	animation: change-img-07 40s 0s infinite;
}
.left-bg-08 {
	animation: change-img-08 40s 0s infinite;
}
.left-bg-09 {
	animation: change-img-09 40s 0s infinite;
}
.left-bg-10 {
	animation: change-img-10 40s 0s infinite;
}

.right-bg-01 {
	animation: change-img-01 40s infinite;
}
.right-bg-02 {
	animation: change-img-02 40s infinite;
}
.right-bg-03 {
	animation: change-img-03 40s infinite;
}
.right-bg-04 {
	animation: change-img-04 40s infinite;
}
.right-bg-05 {
	animation: change-img-05 40s infinite;
}
.right-bg-06 {
	animation: change-img-06 40s infinite;
}
.right-bg-07 {
	animation: change-img-07 40s infinite;
}
.right-bg-08 {
	animation: change-img-08 40s infinite;
}
.right-bg-09 {
	animation: change-img-09 40s infinite;
}
.right-bg-10 {
	animation: change-img-10 40s infinite;
}
