@use "../_global" as *;

// style
.c-btn {
	& > a {
		width: 100%;
		height: 70px;
		max-width: 280px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-inline: auto;
		border: solid 1px white;
		border-radius: 36px;
		transition: all 0.3s;
	}
	&.white {
		& > a {
			border-color: black;
			background: white;
			color: black;
			&:hover {
				border-color: white;
				background: black;
				color: white;
			}
		}
	}
	&.black {
		& > a {
			border-color: white;
			background: black;
			color: white;
			&:hover {
				border-color: black;
				background: white;
				color: black;
			}
		}
	}
}

// layout
.c-btn {
	margin-top: 2em;
	@extend .fs2;
	&.c-btn__arrow a {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 1px);
			right: 20px;
			width: 13px;
			height: 1px;
			border-radius: 9999px;
			// background-color: white;
			transform-origin: calc(100% - 1px) 50%;
		}
		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	&.black a {
		&::before,
		&::after {
			background-color: white;
		}
		&:hover::before,
		&:hover::after {
			background-color: black;
		}
	}
	&.white a {
		&::before,
		&::after {
			background-color: black;
		}
		&:hover::before,
		&:hover::after {
			background-color: white;
		}
	}
}
