@use "../_global" as *;

._tt1 {
	font-size: fluid-text(20px, 32px);
	line-height: 1.6;
	span {
		font-size: fluid-text(10px, 16px);
		display: block;
		margin-bottom: 1.65em;
	}
	& + .l-ttBox {
		font-size: fluid-text(14px, 18px);
		margin-top: 2.25em;
		line-height: 2.85;
	}
}

._tt2 {
	font-size: fluid-text(14px, 20px);
	text-align: center;
	position: relative;
	margin-bottom: 2.5em;
	span {
		font-size: fluid-text(10px, 14px);
		display: block;
		margin-bottom: 0.3em;
		color: $c-main;
		letter-spacing: 4px;
	}
	&::after {
		content: "";
		width: 20px;
		height: 2px;
		background: $c-txt;
		position: absolute;
		bottom: -0.6em;
		left: 50%;
		transform: translateX(-50%);
	}
}

// recruit・contact（コンテンツ）
._tt3 {
	@extend .fs1;
	font-size: 23px;
	letter-spacing: 1px;
	position: relative;
	padding-bottom: 1.35em;
	margin-bottom: 1.35em;
	&::after {
		content: "";
		width: 56px;
		height: 2px;
		background: white;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
